.list {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    font-size: 20px; 
    font-weight: 600; 
    width: 450px; 
    padding-left: 30px; 
  }
  
  .wrap {
    display: inline-flex;
    gap: 12px; 
  }
  
  .contact {
    width: 550px; 
  }
  
  .list-btn {
    margin: auto;
    padding: 10px 15px; 
    min-width: 70px; 
    font-size: 18px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.5); 
    transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .list-btn:hover,
  .list-btn:focus {
    background-color: rgba(0, 128, 128, 0.8); 
    transition: background-color cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  